.ant-typography-copy, .ant-typography-edit, .ant-typography-expand {
  color: rgb(24, 144, 255);
  cursor: pointer;
  margin-left: 4px;
  text-decoration: none;
  outline: none;
  transition: color 0.3s ease 0s;
}

.ant-table-container .ant-table-small {
  border: 0;
}

.ant-table-container.ant-card .ant-card-body {
  padding-top: 0px;
  padding-bottom: 0px;
}